form{
    box-sizing: border-box;
    padding:20px ;
    border-radius:10px ;
    background-color: aquamarine;
    display: table;
    width: 100%;



}
input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 22px;;

}
.question{
    color: brown;
    font-size: 22px;

}
.options{
    font-size: 22px;
}
.options input{
    display: inline;
    width: fit-content;
    height: 10px;
}